<!DOCTYPE html>
<html lang="en">
{% include globals %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ page.title }} | Exit Games Photon Documentation</title>
{% if page.description %}
    <meta name="description" content="{{ page.description }}">
{% endif %}
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://blog.exitgames.com/?feed=rss2" />
    <link rel="alternate" type="text/xml" title="RSS" href="http://blog.exitgames.com/?feed=rss" />
    <link rel="alternate" type="application/atom+xml" title="Atom" href="http://blog.exitgames.com/?feed=atom" />
    
    <link href="{{ SHAREDCSS }}/eg.css" rel="stylesheet" media="all">
    <link href="{{ SHAREDCSS }}/wwwdoc.custom.css" rel="stylesheet" media="all">

    <link rel="shortcut icon" href="{{ SHARED }}/favicon.ico" />
 
    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-898741-14']);
        _gaq.push(['_trackPageview']);
    </script>
 
    <!--[if lt IE 9]>
    <script>
        document.createElement("header" );  
        document.createElement("footer" );  
        document.createElement("section");   
        document.createElement("aside"  );  
        document.createElement("nav"    );  
        document.createElement("article");   
        document.createElement("hgroup" );   
        document.createElement("time"   );
    </script>
    <!endif]-->
</head>

<body>
    
{% include nav.md %}

<div class="page">

    {{ content }}
    <b class="cA"></b>

    <footer role="contentinfo">
        
        <div style="position: absolute; right: 1.38em; z-index: 1; bottom: 0;">
            <a class="cnct bottom white email" href="mailto:developer@exitgames.com?subject=Question on @product" title="Send us an e-mail.">&nbsp;</a>
            <a class="cnct bottom white facebook" href="http://www.facebook.com/exitgames" title="Become a friend on facebook.">&nbsp;</a>
            <a class="cnct bottom white twitter" href="http://www.twitter.com/exitgames" title="Follow us on Twitter.">&nbsp;</a>
            <a class="cnct bottom white rss" href="http://blog.exitgames.com/" title="Read our blog.">&nbsp;</a>
        </div>
        
        <div class="iP">
            <div class="mod aR">
                <a class="img fL" href="http://www.exitgames.com/" id="logo" rel="nofollow">
                    <img src="{{ SHAREDIMG }}/logo_exitgames.gif")" alt="Exit Games" title="Exit Games" />
                </a>
                &copy;<time datetime="{{ site.time | date_to_string }}">2012</time>
                <a class="footerLink" href="http://www.exitgames.com/" target="_blank" rel="nofollow">Exit Games</a>&reg;,&nbsp;all rights reserved.
                <a class="footerLink" href="http://www.exitgames.com/Account/TermsOfUse" rel="nofollow">Terms of Use</a> | 
                <a class="footerLink" href="http://www.exitgames.com/Account/LicenseTerms" rel="nofollow">Photon License Terms</a>
            </div>
        </div>
        
    </footer>
    
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="{{ SHAREDJS }}/jquery.toc.js"></script>
    <script type="text/javascript" src="{{ SHAREDJS }}/sh/scripts/shCore.js"></script>
        <script type="text/javascript" src="{{ SHAREDJS }}/sh/scripts/shBrushCSharp.js"></script>
        <script type="text/javascript" src="{{ SHAREDJS }}/sh/scripts/shBrushJScript.js"></script>
        <script type="text/javascript" src="{{ SHAREDJS }}/sh/scripts/shBrushPlain.js"></script>
        <script type="text/javascript" src="{{ SHAREDJS }}/sh/scripts/shBrushXml.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ SHAREDJS }}/sh/styles/shCore.css"/>
    <link type="text/css" rel="Stylesheet" href="{{ SHAREDJS }}/sh/styles/shThemeDefault.css" />
<script type="text/javascript" src="{{ SHAREDJS }}/jquery.fullsize/jquery.fullsize.js"></script>

<script>
    jQuery.noConflict();
    
    jQuery(document).ready(function()
    {
    
        // fast paths' to menu levels
        var menu = jQuery('.menu'),
            menu_head = jQuery('.menu > li > a:first-child'),
            menu_body = jQuery('.menu > li > ul'),
            submenu_head = jQuery('.menu > li > ul > li.hasChildMenu > a:first-child'),
            submenu_body = jQuery('.menu > li > ul > li > ul');
            
        // mark the active navigation tree as such ...
        // ... and open the first tab on load
        var activeLi = menu.find('.active').parents('li').first();
        
        if (activeLi.hasClass('hasChildMenu'))
        {
            activeLi
                .parents('li').first()
                    .addClass('active')
                    .find('ul').first().slideDown('normal');
        }
        activeLi
            .addClass('active')
            .find('ul').first().slideDown('normal');
 
        // add click listener to menu headers
        menu_head.on('click', function(event)
        {
            // disable header links, prevent page from scrolling to :target / header's #ID!
            event.preventDefault();
 
            // show and hide the tabs on click
            if (!jQuery(this).hasClass('active'))
            {
                submenu_body.slideUp('normal');
                menu_body.slideUp('normal');
                jQuery(this).next().stop(true, true).slideToggle('normal');
                
                submenu_head.removeClass('active');
                menu_head.removeClass('active');
                jQuery(this).addClass('active');
            }
            else
            {   submenu_body.slideUp('normal');
                menu_body.slideUp('normal');
                
                submenu_head.removeClass('active');
                menu_head.removeClass('active');
            }
 
        });
        
        submenu_head.on('click', function(event)
        {
            // disable header links, prevent page from scrolling to :target / header's #ID!
            event.preventDefault();
 
            // show and hide the tabs on click
            if (!jQuery(this).hasClass('active'))
            {
                submenu_body.slideUp('normal');
                jQuery(this).next().stop(true, true).slideToggle('normal');
                
                submenu_head.removeClass('active');
                jQuery(this).addClass('active');
            }
            else
            {
                submenu_body.slideUp('normal');
                submenu_head.removeClass('active');
            }
 
        });
        
        // insert table of contents within #toc
        jQuery.toc('#doc h1, #doc h2, #doc h3').appendTo('#toc').attr('class', 'toc');
        
        // attach fullsize view for images in <figure ... /> which are not rendered in their original size
        jQuery('figure > img:first-child').each(function() {
            var tmpImg = new Image();
            var originalHeight = 0;
            var originalWidth = 0;

            jQuery(tmpImg).load(function() {
                originalHeight = jQuery(this).height();
                originalWidth = jQuery(this).width();
            }).attr('src', jQuery(this).attr('src'));
            
            jQuery(tmpImg).remove();

            if ((originalWidth / originalHeight) !== (jQuery(this).width() / jQuery(this).height())) {
                jQuery(this).fullsize();
            }
        });
        
        // code highlighting preferences
        SyntaxHighlighter.defaults.toolbar = false;
        SyntaxHighlighter.config.tagName = 'code';
        
        // single code highlighting
        jQuery('pre.code > code, code.code').each(function (i, elem) {
            SyntaxHighlighter.highlight(null, elem);
        });
        
        // multi-language code highlighting
        jQuery('.codeSamples').each(function(i) {
                    
            var selectHtml = '';
            
            selectHtml += '<form>';
            selectHtml += '<label for="select-' + i + '">Select your preferred code language:</label>&nbsp;';
            selectHtml += '<select id="select-' + i + '" size="1">'
            
            jQuery(this).find('.syntaxhighlighter').each(function(j) {
                
                // detect language / brush
                // assuming the last class name identifying the language ...
                var language = jQuery.trim(jQuery(this).attr('class').substr(jQuery(this).attr('class').lastIndexOf(' ')));
                
                // ... and assuming the ID of the newly rendered element is unique
                selectHtml += '<option value="' + jQuery(this).attr('id') + '"';
                
                // select the first code snippet as default
                if (j === 0) {
                    selectHtml += ' selected="selected"';
                }
                else {
                    jQuery(this).addClass('hide');
                    jQuery(this).parents('pre.code').first().addClass('hide');
                }
                
                selectHtml += '>' + language;
                selectHtml += '</option>';
                
                jQuery(this).addClass('codeSample');
            });
            
            selectHtml += '</select>'
            selectHtml += '</form>';
            jQuery(this).prepend(selectHtml);
            
            jQuery('#select-' + i).change(function() {
                showCodeSample(jQuery(this).val());
            });
            
        });
    });
    
    // show / hide code siblings
    function showCodeSample(ID) {
        
        var codeSample = jQuery('#' + ID);
        
        if (codeSample.hasClass('hide')) {
            codeSample.parents('.codeSamples').first().find('pre.code:not(.hide)').each(function (i, elem) {
                jQuery(elem).addClass('hide');
                jQuery(elem).find('.syntaxhighlighter').addClass('hide');
            });
            
            codeSample.removeClass('hide');
            codeSample.parents('pre.code').first().removeClass('hide');
        }
        
        // stop further event bubbling
        return false;
    }
    
    function getQueryString() {
        var result = {},
            queryString = location.search.substring(1),
            re = /([^&=]+)=([^&]*)/g, m;

        while (m = re.exec(queryString)) {
            result[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
        }

        return result;
    }
    
    function getActiveProductFromUrl() {
        var activeProduct = (getQueryString()['p'] == 1)? 'photon-server' : 'photon-cloud';
        console.info('active is :' + activeProduct);
        return activeProduct;
    }
</script>
</body>

</html>
